.navbar {
    
    background-color: rgba(0,0,200,.5);
    background-image: url('../img/MaestasReykjavikBanner.jpg'); 

}

.links a {

}
.links:hover { 
font-size:110%;
}
.thomasat {
    font-size:1.3rem;
}
img.profile { 
    height:100%;
    max-height:140px;
    max-width:140px;
float:right;
}