.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.appUser {
  background-color:rgba(200,200,200,.9) !important;
}
 
@import url("https://fonts.googleapis.com/css?family=Monoton:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
.text-inherit {
  color: white; }

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-image: url("img/bluechipTile.jpg");
  opacity: .9;
  background-color: rgba(0, 247, 255, 0.4);
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  *width: 100%; }
  body p {
    font-weight: 400; }

button {
  padding: 2%; }

body {
  font-family: "Roboto"; }

button {
  margin: 0 7px 0 0;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  font-size: 12px;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
  cursor: pointer; 
  font-family: 'Monoton', sans-serif;
}







#style1  { 
  color:'white';
background-color: 'rgba(210, 47, 155, 0.2)';
padding:'2rem';
text-decoration:'none';
list-style-type:'none'
}; 
#a  {
color:'yellow';
text-decoration:'none';
list-style-type:'none'; 
margin:'.5rem'; 
}
#menu1 {
display:'inline-block';
float:'left'; 
padding:'+.5rem';
margin:'.5rem'; 


}
#style2  { 
background-color: 'steelblue';
padding:'2rem';
text-decoration:'none';
list-style-type:'none';
max-height:'600px';
overflow:'scroll'
};

#route1 {
  float:left;
}
#login {
  color:darkblue;
  text-transform:uppercase;
  width:80px;
}